.centered {
    text-align: center;
}

footer {
    padding: 2em 0;
    margin-top: 3em;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

/* form elements */
input[readonly],
select[readonly] {
    border: 0;
    background-color: transparent;
}

table.dataTable .glyphicon {
    cursor: pointer;
    padding: 1px 5px;
}

table.dataTable th.sorting_disabled {
    padding: 8px;
}

table.dataTable thead tr th:first-child {
    width: 5em !important;
}

/* SPINNER */
.spinning {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


/* TYPEAHEAD */
.bootstrap-tagsinput {
    display: block !important;
}

.bootstrap-tagsinput .label {
    font-size: 0.95em;
}

.tt-hint {
    color: #999
}

.tt-menu {
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: .3em 2em;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
